/*ví dụ reset trong CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;*/
    line-height: 1.1;
    color: #333333;
    overflow: scroll;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

p {
    margin: 0 0 10px 0;
}

/* Hết phần ví dụ*/
/* ---------------------------- */

h1 {
	font-size: 24px;
	text-transform:uppercase;
	text-indent: 0px;
	margin-top: 0px;
}

h2 {
	text-indent: 20px;
	margin-top: 0px;
}

h4 {
	text-indent: 20px;
	margin-top: 300px;
	color: #0066c0;
}

#main-menu a{
	font-size: 20px;
	text-decoration: none;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color: black;
	text-decoration: underline;
}

a:active{
	color: black;
}

img {
	max-width: 100%;
}

#borderimg {
   border: 1px solid #ddd;
   border-radius: 0px;
}

.banner{
width: 100vw;
height: 100px;
margin: 0 auto;
box-shadow: 0 1px 3px rgba(0,0,0,0.15);
/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;*/
padding:0;
}

div {
    display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered img {
  width: 150%;
  border-radius: 10%;
}

/*.footer {
  padding: 30px;
  text-align: center;
  background: transparent;
  margin-top: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}*/